# Python
de_py_env/
__pycache__/
*.pyc

# Spark temporary files
scripts/spark/tmp_spark/*
!scripts/spark/tmp_spark/.gitkeep

# Docker runtime stuff
*.log

# OS junk
.DS_Store
Thumbs.db

# Bronze raw data - Equivalent to Blob storage on Cloud
data/bronze/sales/*

scripts/data-generator/__pycache__/*